<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbxxxia.web.mappers.FacilityMapper">
    <insert id="insertFacility"
            parameterType="com.sbxxxia.web.facilities.FacilityDTO">
        insert facility_seq, f_name, f_type, f_region, f_postal_code, f_address, f_detailed_address, f_phone_number
        values (#{facilitySeq},#{fName},#{fType},#{fRegion},#{fPostalCode},#{fAddress},#{fDetailedAddress},#{fPhoneNumber})
    </insert>

    <update id="updateFacility"
            parameterType="com.sbxxxia.web.facilities.FacilityDTO">
        update set f_name = #{fName} from facility
        where facility_seq like 'facilitySeq'
    </update>
    
    <delete id="deleteFacility"
            parameterType="com.sbxxxia.web.facilities.FacilityDTO">
        delete from facility where facility_seq like #{facilitySeq}
    </delete>

    <select id="selectFacility"
            resultType="com.sbxxxia.web.facilities.FacilityDTO"
            parameterType="com.sbxxxia.web.proxy.Pager">
        select facility_seq, f_name, f_type, f_region, f_postal_code, f_address, f_detailed_address, f_phone_number
        from facility
        where facility_seq = #{value}
    </select>

    <select id="selectFacilities"
            resultType="com.sbxxxia.web.facilities.FacilityDTO"
            parameterType="com.sbxxxia.web.proxy.Pager">
        select facility_seq, f_name, f_type, f_region, f_postal_code, f_address, f_detailed_address, f_phone_number
        from facility
    </select>

    <select id="count" resultType="int">
            select count(*)
            from facility
    </select>

</mapper>
